USERNAME=<Username of Coinbase Cloud account>
PASSWORD=<Password of Coinbase Cloud account>
NODEURI="goerli.ethereum.coinbasecloud.net"
MNEMONIC=<Mnemonic of the wallet holding the ERC1155 tokens>
CONTRACT_ADDRESS=<Contract address of the ERC1155 tokens>